<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3 style="text-align:center">
      <img alt="" height="100" src="images/logo.png" style="float:center" width="100" />
      <p>Repositório de técnicas de DX</p>
    </h3>
    
    <p style="text-align:center">
      <input maxlength="200" name="busca" size="110" type="text" />&nbsp;
      <img alt="lupa" height="20" src="https://cdn-icons-png.flaticon.com/128/64/64673.png" width="20" />
    </p>    
    <p style="text-align:center">
      <img alt="CicloDX" height="300" src="images/CicloDX - Copia.png" width="300" />
      <a href="/assistente">
        <img alt="assistente" height="100" src="https://cdn-icons-png.flaticon.com/128/5465/5465765.png" width="100" />
      </a>
      
    </p>
    
  </body>
</html>    
